doctype html
html
  head
    title #{title}
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Users list
    .container
      if user
        table.users-table
          thead
            tr
              th User ID
              th Email
              th Role
          tbody
            tr
              td #{user._id}
              td #{user.email}
              td #{user.role}
      else if users && users.length === 0
        p No users found
      else
        table.users-table
          thead
            tr
              th #
              th User ID
              th Email
              th Role
          tbody
            each user, i in users
              tr
                td #{i + 1}
                td #{user._id}
                td #{user.email}
                td #{user.role}
