doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/styles.css')
    body
        h1 Users list
        .container
            if user
                p ID: #{user.id}
                p Name: #{user.name}
            else if users.length === 0
                p No users found
            else
                each user in users
                    p #{user.id}. #{user.name}
        